@font-face {
  font-family: 'Gotham Bold';
  src: url('/fonts/Gotham-Bold.otf');
}
@font-face {
  font-family: 'Gotham Light';
  src: url('/fonts/Gotham-Light.otf');
}
@font-face {
  font-family: 'Revista Black';
  src: url('/fonts/Revista-Black.otf');
}
@font-face {
  font-family: 'Revista Stencil Black';
  src: url('/fonts/RevistaStencil-Black.otf');
}

body.ie {
  font-family: 'Gotham Light';

  h1 {
      font-family: 'Revista Black';
  }
  h2, h3 {
      font-family: 'Gotham Bold';
  }
  overflow: scroll;

  .ie_content {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: scroll;
    display: flex;

    .nav {
      position: fixed;
      top: 0; left: 0;
      width: 100%;
      height: auto; 
      padding: 20px 0;
      z-index: 10;
      height: 100px;
    
      .menu {
        width: 100%;
        position: relative;
    
        .logo {
          height: auto;
          position: absolute;
          // top: -40px;
          left: 0;
          width: 100%;
          text-align: center;
          display: block;
          margin: -20px auto 0;
    
          @media (max-width: 480px) {
            top: -20px; 
          }
    
          img {
            height: 200px;
    
            @media (max-width: 480px) {
              height: 150px; 
            }
          
          }
        }
    
       
      }
    }
    

    .arrows {
      width: 100%;
      position: relative;
      padding: 10px;
      height: 40px;
      .scroll {
        position: absolute;
        padding: 10px;
        width: auto; // font-family: 'Revista Black';
        cursor: pointer;
    
        .scroll_arrow {
          height: 30px !important;
          width: 30px;
          text-align: center;
          // -webkit-animation: ping 3s ease-in-out infinite both;
          // animation: ping 3s ease-in-out infinite both;
    
          img {
            object-fit: contain;
            height: 100%;
            width: 100%;
            transform: rotate(-40deg);
          }
        }
    
        .text {
          top: 15px;
          font-size: 12px !important;
          color: black;
          font-family: 'Gotham Light';
          // position: absolute;
          // width: max-content;
          display: block;
          margin: auto;
          letter-spacing: 2px;
          text-transform: lowercase;
          @media (max-width: 480px) {
            display: none;
          }
        }
        .prevSlide {
          left: 30px;
        }
        .nextSlide {
          left: -160px;
        }
      }
    
      .scroll_left {
        // top: 53px;
        left: 55px;
        .scroll_arrow {
          height: 30px !important;
          width: 30px;
          text-align: center;
          // -webkit-animation: ping 3s ease-in-out infinite both;
          // animation: ping 3s ease-in-out infinite both;
    
          img {
            object-fit: contain;
            height: 100%;
            width: 100%;
            transform: rotate(-200deg);
          }
        }
    
        @media (max-width: 480px) {
          left: 25px;
          top: 15px;
        }
      }
      .scroll_right {
        // top: 53px;
        right: 55px;
    
        @media (max-width: 480px) {
          right: 25px;
        }
      }
    }
    
    .about_arrow {
      
      color: black;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 140px;
      text-transform: capitalize;
      height: 50px;
      cursor: pointer;
      @media (max-width: 768px) {
        bottom: 250px;
        font-size: 24px !important;
      }
      @media (max-width: 480px) {
        font-size: 14px !important;
        bottom: 140px;
      }
    
      .scroll {
        position: relative;
        width: 50vw;
        margin: auto;
        display: block;
        cursor: pointer;
        .about_arrow_next_slide {
          width: max-content;
          font-family: 'Revista Black' !important;
          letter-spacing: 1px;
          margin: auto;
        }
      }
    }
    
    /* ----------------------------------------------
     * Generated by Animista on 2018-6-29 13:9:41
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */
    
    /**
     * ----------------------------------------
     * animation ping
     * ----------------------------------------
     */
    @-webkit-keyframes ping {
      0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0.8;
      }
      80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
      }
      100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0;
      }
    }
    @keyframes ping {
      0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0.8;
      }
      80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
      }
      100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0;
      }
    }
    



    .ie_slide {
      width: 100vw;
      min-width: 100vw;
      position: relative;

      .caption, .first {
        text-align: center;
        margin: 30px auto 10px;
        display: block;
        
      }
      .ie_slide_left, .ie_slide_right {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
      }
      .ie_slide_left {
        left: 0; 
      }
      .ie_slide_right {
        right: 0;
        -webkit-clip-path: polygon(70% 0, 100% 0, calc(100% - 20vw) 100%, calc(70% - 30vw) 100%);
        clip-path: polygon(70% 0, 100% 0, calc(100% - 10vw) 100%, calc(70% - 50vw) 100%);
        z-index: 1;

        // &:after {
        //   // background: #fff;
        //   z-index: 0;
        //   top: 0;
        //   content: '';
        //   // display: block;
        //   // // height: 50%;
        //   // left: 0;
        //   // width: 100%;
        //   position: absolute;
        //   // transform: skewY(-45deg);
        //   width: 0;
        //   height: 0;
        //   border-top: 700px solid #fff;
        //   border-right: 700px solid transparent;
        //   // border-bottom: 100px solid transparent;
        //   // z-index: -1;
      
        // }
      }

      &.ie_slide_0 {
       
        .ie_slide_left {
          background-image: url(/building_window.gif);
          background-size: 75%;
          background-repeat: no-repeat;
          background-position: 0 100%;
          @media (max-width: 768px) {
            background-size: 40%;
          }
          @media (max-width: 480px) {
            background-position: 18% 80%;
            background-size: 75%;
            clip-path: none !important;
          }
        }
        .ie_slide_right {
          // background-color: #eee !important;
          background-image: url(/cafe-animated.gif) !important; // background-image: url(/cafe-animated.gif) !important;
          background-size: 70%;
          background-repeat: no-repeat;
          background-position:50% 95%;
          // &:after {
          //   // background: #fff;
          //   z-index: 0;
          //   top: 0;
          //   content: '';
          //   // display: block;
          //   // // height: 50%;
          //   // left: 0;
          //   // width: 100%;
          //   position: absolute;
          //   // transform: skewY(-45deg);
          //   width: 0;
          //   height: 0;
          //   border-top: 400px solid #fff;
          //   border-right: 400px solid transparent;
          //   // border-bottom: 100px solid transparent;
          //   // z-index: -1;
        
          // }
        }
      }
      &.ie_slide_1 {
     
        .ie_slide_left {
          background-image: url(/dog_walker.gif);
          background-size: 20%;
          background-repeat: no-repeat;
          background-position: 18% 90%;
        }
        .ie_slide_right {
          // background-color: #eee !important;
          background-image: url(/biker-animated.gif) !important;
          background-size: 30% !important;
          background-repeat: no-repeat;
          background-position: 60% 90%;
        }
        .inner {
          width: 60%;
          margin: auto;
          display: block;
          p {
            padding: 0 40px;
          }
        }
      }
      &.ie_slide_2 {
       
        .ie_slide_left {
          background-image: url(/runner-animated.gif);
          background-size: 20%;
          background-position: 25% 100%;
          background-repeat: no-repeat;
        
          @media (max-width: 480px) {
            background-size: 20%;
            background-position: 20% 85%;
          }
        }
        .ie_slide_right {
          // background-color: #eee !important;
          @media (max-width: 480px) {
            background-size: 20%;
            background-position: 20% 85%;
            // background-color: #eee !important;
            background: url(/cafe-animated.gif),
              -webkit-gradient(linear, left top, right top, from(white), color-stop(50%, #eeeeee), to(#dddddd)) !important;
            background: url(/cafe-animated.gif), linear-gradient(90deg, white 0%, #ddd 70%) !important;
          }
        }

  .form_container {
    height: 100%;
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url(/runner-animated.gif);
    background-size: 20%;
    background-position: 15% 100%;
    background-repeat: no-repeat;

    h3 {
      font-family: 'Gotham Light';
      text-align: center;
      margin: 30px auto;
      @media (max-width: 480px) {
        margin-bottom: 10px;
        font-size: 13px;
      }
    }
    @media (max-width: 480px) {
      padding: 0 30px 30px;
      margin: 0;
    }

    #form {
      width: 500px;
      display: block;
      margin: auto;
      z-index: 3000;
      font-family: 'Gotham Light';
      font-size: 14px;
      @media (max-width: 480px) {
        width: 90%;
      }
    
      input {
        padding: 15px;
        font-family: 'Gotham Light';
        width: 100%;
        display: block;
        margin: 20px;
        background: transparent;
        outline: none !important;
        font-size: 14px;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: solid 1px #000;

        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;

        @media (max-width: 480px) {
          margin: 10px 0;
          font-size: 12px;
        }
      }

      button {
        padding: 60px;
        display: block;
        margin: 40px 20px 20px;
        outline: none;
        cursor: pointer;
        border: none;
        
        text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
        background: transparent;
        position: relative;
     
        font-weight: bold;
        color: white;
        
        overflow: visible;
        img {
          position: absolute;
          top: -5px;
          left: -5px;
          height: 120%;
          width: 120%;
    
          z-index: -1;
        }

        @media (max-width: 480px) {
          padding: 10px!important;
        }
      }
    }
  }
      }   
      .ie_slide_content {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        // flex-direction: column;
        justify-content: flex-start;
        .inner {
          width: 60%;
          margin: 150px auto 0;
          position: relative;
          z-index: 10;
          
          display: block;
          @media (max-width: 375px) {
            margin: -50px auto 0 !important;
          }

          .caption {
            font-size: 60px;
            letter-spacing: 1px;
            width: max-content;
            font-family: 'Revista Black';
    
            @media (max-width: 720px) {
              font-size: 40px;
              width: 100%;
            }
            @media (max-width: 480px) {
              font-size: 30px;
              text-align: center;
              display: block;
              margin: auto;
            }
            @media (max-width: 375px) {
              font-size: 24px;
            }
          }
          .first {
            margin-bottom: 0;
            padding-bottom: 0;
            font-family: 'Revista Black';
          }
          .second {
            @media (max-width: 375px) {
              text-align: center !important;
              display: block;
              margin: auto;
              padding: 0 20px !important;
            }
          }
          p {
            color: #000;
            font-family: 'Gotham Light';
            line-height: 24px;
            text-transform: none;
            text-align: left;
            font-size: 14px;
            margin-top: 20px;
            letter-spacing: 1px;
    
            @media (max-width: 480px) {
              font-size: 12px;
              line-height: 20px;
            }
          }
        }
        
        }
    }
 
  }
  // ABOUT ARROW

.about_arrow {
  
  color: black;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 8%!important;
  text-transform: capitalize;
  height: 50px;
  cursor: pointer;

  @media (max-width: 1024px) {
    // bottom: 120px!important;
  }

  @media (max-width: 768px) {
    bottom: 200px!important;
    font-size: 20px !important;
  }
  @media (max-width: 480px) {
    font-size: 14px !important;
    bottom: 225px!important;
  }
  @media (max-width: 320px) {
    font-size: 10px !important;
    bottom: 75px!important;
    display: none;
  }
  .scroll {
    position: relative;
    width: 50%;
    text-align: center;
    margin: auto;
    display: block;
    cursor: pointer;
    .about_arrow_next_slide {
      width: max-content;
      font-family: 'Revista Black' !important;
      letter-spacing: 1px;
      margin: auto;
      @media (max-width: 768px) {
        
        font-size: 20px !important;
      }
      @media (max-width: 320px) {
        font-size: 10px !important;
        line-height: 1.5;
        
      }
    }
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-6-29 13:9:41
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation ping
 * ----------------------------------------
 */
@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes ping {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}


.nav {
  &.shrink {
    .arrows {
      top: -10px;
      @media (max-width: 812px) and (orientation: landscape) {
        top: -20px;
      }
      @media (max-width: 568px) and (orientation: landscape) {
        top: -10px;
      }
    }
  }
}
}